.about {
    padding: 25rem 0;

    .container {
        height: 100%;
        width: 100%;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-content: center;
        grid-column-gap: 6rem;
        align-items: center;
    }

    &__text {

        &>* {

            margin-bottom: 4rem;
        }

    }

    &__images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 2rem;

        &-1 {}

        &-2 {
            align-self: flex-end;
        }

        &-3 {
            justify-self: end;
        }

        &-4 {
            justify-self: end;
        }
    }

    &__experience {
        padding: 8rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
        text-align: center;
    }
}