@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800;900&display=swap');

:root {
    --bg-color: #0A142F;
    --primary-color: #172048;
    --secondary-color: #5a6378;
    --tertiary-color: #fecb3e;
    --white: #fff;
    --black: #000;
    --off-white: #f8fbf8;

}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@mixin responsive ($bp) {

    @if $bp ==sm {
        @media screen and (max-width: 600px) {
            @content
        }

    }

    @if $bp ==md {
        @media screen and (max-width: 1200px) {
            @content
        }

    }

    @if $bp ==lg {
        @media screen and (max-width: 1500px) {
            @content
        }

    }
}

html {
    font-size: 62.5%;
    box-sizing: border-box;


    // @include responsive(lg) {
    //     font-size: 50%;
    // }

    // @include responsive(md) {
    //     font-size: 45%;
    // }

    // @include responsive(sm) {
    //     font-size: 40%;
    // }



    @include responsive(lg) {
        font-size: 50%;
    }

    @include responsive(md) {
        font-size: 45%;
    }

    @include responsive(sm) {
        font-size: 40%;
    }
}





body {
    background-color: var(--bg-color);
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    color: var(--white);
    font-weight: 100;
    line-height: 1.8;

    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
    color: currentColor;

}

ul {
    list-style: none;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}