.btn {

    &,
    &:link,
    &:visited {

        background-color: var(--tertiary-color);
        padding: 1.8rem 2.4rem;
        border-radius: 30rem;
        border: none;
        cursor: pointer;
        color: var(--black);
        display: inline-block;
        font-size: 1.8rem;
        position: relative;


        animation: moveUp 1s ease-in;
        animation-fill-mode: backwards;
    }

    &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 10rem;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        transition: .4s all;
        background-color: var(--tertiary-color);
    }

    &:focus,
    &:hover {
        background-color: var(--tertiary-color);
        color: var(--black);
        outline: none;

        transform: translateY(.3rem);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &__transparent {
        border: 1px solid var(--white);
        padding: 1rem 2rem;
        border-radius: 30rem;
        cursor: pointer;
        color: var(--white);
        display: inline-block;

        &:focus,
        &:hover {
            background-color: var(--tertiary-color);
            color: var(--black);
            outline: none;
        }


    }



}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

.card {

    &__services {
        background-color: rgba(#353F5B, .8);
        padding: 8rem 4rem;
        transition: all .4s;
        box-shadow: 0 .5rem 1rem rgba(#000, .2);

        &:hover {
            border: 1px solid #9747ff;
            transform: scale(1.05);
        }

        @include responsive(sm) {
            margin-bottom: 4rem;
        }



        &>* {
            margin-bottom: 2rem;

        }



        &--1 {
            border-radius: 50px 0px 0px 0px;

            @include responsive(sm) {
                border-radius: 5rem;
            }

        }

        &--2 {
            border-radius: 0px 50px 0px 0px;

            @include responsive(sm) {
                border-radius: 5rem;
            }
        }

        &--3 {
            border-radius: 0px 0px 0px 50px;

            @include responsive(sm) {
                border-radius: 5rem;
            }
        }

        &--4 {
            border-radius: 0px 0px 50px 0px;

            @include responsive(sm) {
                border-radius: 5rem;
            }
        }
    }

    &__testimonial {
        text-align: start;
        max-width: 75rem;
        background-color: rgba(#353F5B, .9);
        padding: 4rem;
        border-radius: 5rem;
        margin: 0 auto;
        box-shadow: 0 .5rem 1rem rgba(#000, .2);

        blockquote {
            padding-top: 14rem;
            position: relative;

            &::before {
                content: "\201C";
                display: block;
                position: absolute;
                top: -9rem;
                left: -1rem;
                font-size: 20rem;
                color: rgba(255, 255, 255, 0.4);
                font-family: serif;
                font-weight: 700;
            }
        }

        &--rating {
            display: flex;
            align-items: center;
            margin-top: 4rem;

            .author {
                display: block;
                max-width: 8rem;
                border-radius: 50%;
            }
        }

        &--details {
            margin-right: auto;
            margin-left: 2rem;

            &-name {
                font-size: 1.8rem;
                font-weight: 700;

            }

            &-position {
                color: var(--tertiary-color);
            }
        }

        &--stars {}
    }

    &__footer {
        background-color: var(--tertiary-color);
        border-radius: 3rem;
        padding: 4rem;
        color: var(--black);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);

        &--text {
            font-size: 2rem;
            font-weight: 700;
        }

        &--email {
            border: none;
            border-bottom: 1px solid #000;
            background-color: var(--tertiary-color);
            width: 90%;

            &-btn {
                border: none;
                background-color: var(--tertiary-color);
            }
        }


    }
}