.footer {
    padding: 10rem;
    background-color: var(--secondary-color);

    @include responsive(md) {
        padding: 5rem;
    }

    .container {
        max-width: 160rem;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        grid-gap: 4rem;

        @include responsive(sm) {
            grid-template-columns: none;
            grid-template-rows: repeat(3, 1fr);
            grid-row-gap: 4rem;
            text-align: center;

        }
    }

    &__copyright {
        display: flex;
        justify-content: space-between;
        margin-top: 6rem;

        @include responsive(sm) {
            text-align: center;
            flex-direction: column;
        }
    }

    &__socials {
        display: flex;

    }

    &__icons {
        fill: var(--white);
        margin-right: 2rem;

    }

    &__location {
        &-name {
            font-size: 1.8rem;
            font-weight: 700;
        }
    }

    &__contact {
        &-name {
            font-size: 1.8rem;
            font-weight: 700;
        }
    }
}