.header {

    &__container {
        width: 100%;
    }


    &__text {

        padding: 6rem 0;
        max-width: 55rem;
        margin-left: 25vw;

        @include responsive(md) {
            margin-left: 0;
            margin: 0 auto;
        }


        p {
            font-size: 2.4rem;
            line-height: 1.6;
        }

        .btn {
            margin-top: 2rem;
        }
    }

    &__container {
        max-width: 140rem;
        margin: 0 auto;
    }

    &__content {
        height: 100%;
        padding: 10rem 0;

        @include responsive(md) {
            padding: 10rem 5rem;
        }

        .heading {
            max-width: 80rem;
            position: relative;
            display: inline-block;
            margin: 0 auto;

            @include responsive(sm) {}

            &__img {
                padding: 4rem;
                // position: absolute;
                // top: 70%;
                // left: 85%;



                &>* {
                    display: block;
                }

                &-1 {
                    position: absolute;
                    top: 60%;
                    right: 5rem;
                    width: 20%;

                    @include responsive(md) {
                        top: 80%;
                        width: 25vw;
                    }

                    @include responsive(sm) {
                        width: 50vw;
                        position: static;
                    }
                }

                &-2 {
                    position: absolute;
                    top: 70%;
                    left: 5rem;
                    width: 30%;

                    @include responsive(md) {
                        top: 100%;
                        width: 30vw;
                    }

                    @include responsive(sm) {

                        position: static;
                    }
                }
            }
        }

        .world-class {
            display: inline-block;
            position: absolute;
            top: -5rem;
            left: -5rem;

            animation: world infinite 4s;

            @include responsive(md) {
                top: -7rem;
                left: -7rem;
            }

            @include responsive(sm) {
                top: -5rem;
                left: 4rem;
                width: 45%;
            }
        }
    }
}

.scroll {
    display: block;
    text-align: center;
    margin: 0 auto;

    &-wrap {
        width: 100%;
    }

}

@keyframes world {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05) rotate(5deg);
    }

    100% {
        transform: scale(1);
    }
}