.services {
    padding: 15rem;

    @include responsive(md) {
        padding: 5rem;
    }

    .container {
        text-align: center;
    }

    .heading-secondary {
        text-transform: capitalize;
    }

    &__grid {
        margin: 8rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        text-align: start;

        @include responsive(sm) {
            grid-template-columns: none;
            grid-template-rows: repeat(4, 1fr);
        }

    }

    .btn__transparent {

        text-align: center;

    }
}