.heading-primary {
    font-size: 15rem;
    line-height: 1;
    font-weight: 700;

    @include responsive(sm) {
        font-size: 7rem;

    }

    &-top {
        display: inline-block;
        margin-left: 25rem;

        @include responsive(sm) {
            margin-left: 20rem;
        }
    }

    &-bottom {

        margin-left: 10rem;
    }
}

.heading-secondary {
    font-size: 4.8rem;
    line-height: 1;
}

.heading-tertiary {
    font-size: 3rem;
    line-height: 1;
}