.heading-primary {
    font-size: 15rem;
    line-height: 1;

    &-top {
        display: inline-block;
        margin-left: -2rem;
    }

    &-bottom {
        display: inline-block;
        margin-left: 10rem;
    }
}

.heading-secondary {
    font-size: 4.8rem;
    line-height: 1;
}

.heading-tertiary {
    font-size: 3rem;
    line-height: 1;
}